work/

# Object files
*.o

# Executables
env_decoder/env_codec
gen_nvram_zone/gen_nvram_zone
nand_parser/nand_parser
alt_app/socketbridge
alt_app/disable_led
user0.img
playground
alt_app/.binaries_timestamp

# Web application
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local
alt_app/www

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
